@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Основной стиль */
body{
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-weight: 400;
}
.wrapper {
  margin: 0 auto;
  max-width: 2555px;
  display: flex;
  flex-direction: row;
}
.left-column {
  flex: 1 200px;
}

.right-column {
  flex: 1.5 200px;
}



.logo {
  max-width: 950px;
  max-height: 1300px;

}
.Contact {
}
.Contact__title {
}
.title {
}
.Contact__text {
}
.Education {
}
.Education__title {
}
.Education__text {
}

.header {
}
.header__title {
  font-size: 160px;
  font-weight: 500;
}
.header__subtitle {
  font-weight: 400;
  font-size: 75px;
}
.profile {
}
.profile__title {
}
.profile__text {
}
.skills {
}
.skills__title {
}
.skills__wrapper {
}
.skills__item {
}
.work-examples {
}
.work-examples__title {
}
.work-examples__wrapper {
}
.work-examples__item {
}
.work-examples__item-skill {
}
.work-examples__item-result {
}
.footer {
}
.footer__nav {
}
.footer__nav-list {
}
.rss__link {
}
.git__link {
}
.year {
}
