.conteiner 
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 1px solid rgba(0, 0, 255, .2);
    border-radius: 2%;
    font-family:     apple-system, BlinkMacSystemFont, 
                    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                     "Helvetica Neue", sans-serif;

}

.conteiner img {
    height: 150px;
    border-radius: 20px;
    margin: 10px 10px 10px 20px;
    display: block;
    float: left;
}

.header {
    height: 170px;
}

.avaHeading {
    display: inline-block;
    margin: 50px 0 0 180px;
    font-size: 52px;
    font-style: italic ;
}

.elementFooter {
    display: block;
}

.main h2 {
    font-size: 32px;
    margin: 10px 0 10px 20px;
}

.footer {
    position: relative;
    
}

footer a{
    display: block;   
    text-align: center;
    margin-top: 30px;
}

.footer img {
    width: 100px;
    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* По центру */
    margin-left: -420px; /* Сдвигаем влево */
    top: -50px; /* От верхнего края */
    
}
footer p{
    display: block;
    text-align: right;
    margin: 0 20px 20px 0;
}


.code {
    margin-left: 30px;
}

.aboutMyself p{
    margin-left: 30px;
    width: 90%;
    text-align: justify;
}